.wrapper {
  padding: 0 10px;
  img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: all 0.3s;
    display: block;
  }

  &:hover img {
    box-shadow: 0 0 0 1px rgb(111, 111, 111);
  }

  p:first-of-type {
    color: var(--dark-text);
    font-weight: 600;
    padding-top: 10px;
  }

  p:nth-of-type(2) {
    font-size: 0.85rem;
    color: var(--gray-text);
  }
}

a:has(.wrapper) {
  border-bottom: none;
}
