.wrapper {
    .header {
        background-color: var(--primary-color);

        .header_inner {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 1rem;
            max-width: var(--max-width);
            margin: auto;
            padding: 2rem 1rem;

            p {
                max-width: 24rem;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                h4 {
                    color: var(--light-gray-text);
                }
            }

            li {
                padding-bottom: 0.5rem;

                a {
                    border: none;
                }

                a:hover {
                    color: var(--light-gray-text);
                }
            }

            * {
                color: var(--light-text);
            }

            img {
                max-width: 10rem;
            }
        }
    }

    .footer {
        background-color: var(--secondary-color);

        .footer_inner {
            color: var(--dark-text);
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            font-size: 0.85rem;

            ul {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            a {
                border-bottom: none;
            }

            img {
                max-height: 1.5rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    .header_inner {
        grid-template-columns: auto auto !important;
    }
}

@media (max-width: 750px) {
    .header_inner {
        grid-template-columns: auto !important;
    }
}